**Calculate average using Function**

In [ ]:
def calculate_average(numbers):
   return sum(numbers) / len(numbers)

numbers = [10, 20, 30, 40, 50]
print("Average:", calculate_average(numbers))

Average: 30.0

**Finding the Longest Word in a List using Function**

In [12]:
def find_longest_word(words):
    long = ""
    for word in words:
        if len(word) > len(long):
            long = word
    return long

words = ["Mohamed", "Tarek", "Mostafa", "Tawfeeq"]
print("Longest word:", find_longest_word(words))

Longest word: Mohamed

**Cheking Prime Number using Functions**

In [14]:
def is_prime(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True
print("Is 1 prime?\n", is_prime(1))

Is 1 prime?
 False

**Converting Temprture unit using Function**

In [18]:
def convert_celesuis_to_farhnhiet(celesuis):
  return (celesuis*9/5)+32
def convert_farhnhiet_to_celesuis(farhnhiet):
  return (farhnhiet-32) * 5/9
print(f"25 celesuis , is {convert_celesuis_to_farhnhiet(25)} farhnhiet")
print(f"77 farhnhiet is {convert_farhnhiet_to_celesuis(77)} celesuis")

25 celesuis , is 77.0 farhnhiet
77 farhnhiet is 25.0 celesuis

**Generating a List of Squares Using List Comprehension and Functions**

In [30]:
def list_square(numbers):
  return [x**2 for x in numbers]



numbers=[1,2,3,4,5,6,7,8,9,10]
print(list_square(numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#using map Function and lambda Function
numbers=[1,2,3,4,5,6,7,8,9,10]
square=list(map(lambda x :x**2,numbers))
print(f"list of squares is {square}")

list of squares is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**convert a list of string to upper case**

In [34]:
def convert_to_upper(words):
  return [word.upper() for word in words]
words=['mohamed','islam','eng sarah','miar']
print(f" upper cases of this list is {convert_to_upper(words)}")

 upper cases of this list is ['MOHAMED', 'ISLAM', 'ENG SARAH', 'MIAR']

**Calculating Total Price including Tax using function**

In [39]:
def calculate_total_price(prices,tax_rate):
  total=sum(prices)
  total_with_tax=total*(1+tax_rate)
  return total_with_tax
prices=[200,500,800]
tax_rate=0.1
print(f"sum of prices with tax rate is {calculate_total_price(prices,tax_rate)}")

sum of prices with tax rate is 1650.0000000000002

**finding minimum and maximum value in a list using Function**

In [43]:
def finding_max_And_min_value(numbers):
  max_number=max(numbers)
  min_number=min(numbers)
  return max_number,min_number

numbers=[20,30,40,50,100,1000,10,5,3]
print(f"maximum,minimum value in this list is {finding_max_And_min_value(numbers)}")

maximum,minimum value in this list is (1000, 3)

**Checking if a String is a Valid Email Address**

In [44]:
def is_valid_email(email):
    return "@" in email and "." in email.split("@")[-1]

email = "example@example.com"
print("Is valid email:", is_valid_email(email))

Is valid email: True

**Counting the Frequency of Each Character in a String**

In [45]:
def count_character_frequency(text):
    frequency = {}
    for char in text:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

text = "hello world"
print("Character frequency:", count_character_frequency(text))

Character frequency: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}